<template name='books'>
 
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Listings</h3>
    </div>
    <div class="panel-body">
      
      <div class="panel-group" id="accordion">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" id='new_listing' data-parent="#accordion" href="#new_book">
                <span class="glyphicon glyphicon-plus"></span> Add a listing
              </a>
            </h4>
          </div>
          <div id="new_book" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="alert alert-info" role="alert">
                 {{#if currentUser}}
                <form class="form-horizontal" role="form">  
                  <div class="form-group">
                     <input type="text" class="form-control" id="title" placeholder="Title..."> 
                   </div>    
                   <div class="form-group">
                      <input type="text" class="form-control" id="description" placeholder="Description..."> 
                    </div>   
                 <div class="form-group">
                                 <label class="col-sm-2 control-label" for="category">Category:</label>
                                 <div class="col-sm-10">
                                   <select class=" form-control" id="category" name="category">
                          {{ #each categories }}
                 <option value="{{this}}">{{this}}</option>
                          {{/each}}
             
                 </select>
               </div>
             </div>
                  <div class="form-group">
                 <button  id='add_book' class="btn btn-default">Add</button>
               </div>
                </form>
                {{else}}
                <h2>Please login/register first </h2>
                  {{/if}}
             </div>
            </div>
          </div>
        </div>
     
      {{ #each categories }}
      <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" class='view_books' data-parent="#accordion" href="#{{index this}}">
               {{this}} <span class="label label-info">{{book_count this}}</span> 
               {{#if new_book this}}
                  <span class="label label-default">Latest book added</span>
                 {{/if}}
                 {{#if new_match this}}
                    <span class="label label-warning">New match</span>
                   {{/if}}
             </a>
           </h4>
         </div>
         <div id="{{index this}}" class="panel-collapse collapse">
           <div class="panel-body">
             <ul class="list-group">
               {{ #each books this }}
               <li class="list-group-item">
                 {{title}}, {{description}}
                  {{#if currentUser}}
                    {{#if sending_message _id }}
                     <form class="form-inline" role="form">
                          <div class="form-group">
                            <input type="text" class="form-control" id="message_content" placeholder="type something...">
                          </div>
                           <button role='submit' id='send_message' class="btn btn-default">Send</button>
                     </form>
                     {{else}}
                      {{#if not_own_listing this}}
                      <button type="button" id='{{_id}}' class="contact_owner btn btn-default" >Start a chat</button>
                      {{else}}
                      <p>this is your own listing</p>
                       <button type="button" id='{{_id}}' class="remove_listing btn btn-danger" >Remove listing</button>
                      {{/if}}
                   {{/if}}
                 {{ else }}
                   <button type="button" class="btn btn-default" disabled="disabled">Start a chat</button>
                   <p>Please log-in/register before contacting owner</p>
                 {{/if}}
               </li>
                {{/each}}
             </ul>
            
           </div>
         </div>
       </div>
      
     
  
      {{ /each }}
       </div>
      
    </div>
  </div>
 
</template>


        