<template name='watches'>
  
  
    <div class="alert alert-warning" role="alert">
      <h1>Your watchlist </h1>
      
      <p>Start watching for books, you'll get notified by email if a new listing matches your requiremeents</p>
    
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class='accordion' data-parent="#accordion" href="#watches">
           View Your watches <span class="badge">{{watches.count}}</span>
          </a>
        </h4>
      </div>
      <div id="watches" class="panel-collapse collapse ">
        <div class="panel-body">
            <ul class="list-group">
            {{#each watches}}
                <li class="list-group-item">You are watching for books for {{category}}
                  <button class="btn remove_watch btn-danger" role='submit' id="{{_id}}"> remove</button></li>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>

    <form class="form-inline" role="form">         
        <div class="form-group">
                        
                        <div class="col-sm-10">
                          <select class=" form-control" id="category" name="category">
                 {{ #each categories }}
        <option value="{{this}}">{{this}}</option>
                 {{/each}}
        
        </select>
      </div>
    </div>
      
     <button role='submit'  id='add_watch' class="btn btn-default">Watch for new listings</button>
    </form>
    </div>
  
</template>